{% extends "layout.html" %}
{% set active_page = active_page|default('manage') -%}
{% block container %}

{% if form.errors %}
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
            {% for error in field_errors %}
                <div class="alert alert-danger" role="alert">
                    <strong>Error:</strong> {{ form[field_name].label }}: {{ error }}
                </div>
            {% endfor %}
        {% endfor %}
{% endif %}

<h1>Manage your meter data</h1>

 <div class="row">
    <div class="col-sm-5">

    <h3>Import</h3>

    <form method="POST" action="/manage" enctype="multipart/form-data">

        <p class="form-text text-muted">
            The csv file should be in the following format:
                <strong>READING_DATETIME, IMP, EXP</strong><br />
                2016-08-10 13:20:00, 29, 0<br />
                2016-08-10 13:30:00, 101, 0<br />
        </p>

        <div class="form-group">
            {{ form.upload_file.label }}:
            {{ form.upload_file(class="form-control") }}
        </div>

        <button type="submit" class="btn btn-primary">
            <i class="fa fa-cloud-upload" aria-hidden="true"></i> Upload
        </button>

    </form>


    </div><!-- /col-->

    <div class="col-sm-5">
    <h3>Export</h3>
    <p>
    Download all your meter data.
    </p>
    <p>
    <a class="btn btn-primary" href="{{ url_for('export_data') }}" role="button">
        <i class="fa fa-cloud-download" aria-hidden="true"></i>
        Download CSV
    </a>
    </p>
    </div><!-- /col-->
</div><!-- /row-->

{% endblock %}