{% extends "layout.html" %}
{% block container %}

{% if form.errors %}
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
            {% for error in field_errors %}
                <div class="alert alert-danger" role="alert">
                    <strong>Error:</strong> {{ form[field_name].label }}: {{ error }}
                </div>
            {% endfor %}
        {% endfor %}
{% endif %}

<h1>Upload your meter data</h1>
<p>Meter data can be uploaded via a csv file in the follwing format:
<div class="card" style="width: 18rem;">
    <div class="card-block"><em>
    <strong>READING_DATETIME, IMP, EXP</strong><br />
    2016-08-10 13:20:00, 29, 0<br />
    2016-08-10 13:30:00, 101, 0<br />
    2016-08-10 13:40:00, 187, 0<br />
    ...
    </em></div>
</div>
</p>
<form method="POST" action="/upload" enctype="multipart/form-data">
    <div class="form-group">{{ form.upload_file.label }}: {{ form.upload_file(class="form-control") }}</div>
    <button type="submit" class="btn btn-primary">Upload</button>
</form>



{% endblock %}