{% extends "layout.html" %}
{% set active_page = active_page|default('usage') -%}
{% block title %}Energy Usage{% endblock %}
{% block container %}
<h1 class="page-header">Energy Usage <small>{{ period_desc }}</small></h1>



<div class="card">
  <div class="card-block">

    <ul class="nav nav-pills">
    <li class="nav-item">
        <a class="btn btn-secondary nav-link {% if report_period=='day' %}active{% endif %}"
        href="{{ url_for('usage', report_period='day', report_date=report_date) }}" role="button">Day</a>
    </li>
    <li class="nav-item">
        <a class="btn btn-secondary nav-link {% if report_period=='month' %}active{% endif %}"
        href="{{ url_for('usage', report_period='month', report_date=report_date) }}" role="button">Month</a>
    </li>


    <li class="nav-item float-xs-right">
        <a class="btn btn-secondary {% if not period_nav.next_enabled %}disabled{% endif %}" 
            href="{{ url_for('usage', report_period=report_period, report_date=period_nav.next_date) }}" role="button">
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
        </a>
    </li>
    <li class="nav-item float-xs-right">
        <a class="btn btn-secondary {% if not period_nav.prev_enabled %}disabled{% endif %}" 
        href="{{ url_for('usage', report_period=report_period, report_date=period_nav.prev_date) }}" role="button">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
        </a>
    </li>
    </ul><!-- /nav-pills-->

  </div><!-- /card-block-->

  <div class="card-block">
      <div class="chart-container">
        <div id="energy" class="chart-placeholder" style="max-width: none; height: 400px;"></div>
      </div>
  </div><!-- /card-block-->

</div><!-- /card-->


<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h4>General Supply Charge</h4>

      <dl class="row">
        <dt class="col-sm-9">Meter Services Charge</dt>
        <dd class="col-sm-3">${{ (t11.meter_services_charge/100)|round(2) }}</dd>

        <dt class="col-sm-9">Supply Charge</dt>
        <dd class="col-sm-3">${{ (t11.supply_charge/100)|round(2) }}</dd>

        <dt class="col-sm-9">Consumption Charge</dt>
        <dd class="col-sm-3">${{ (t11.consumption_charge/100)|round(2) }}</dd>

      </dl>
      <hr />
      <dl class="row">
        <dt class="col-sm-9">Total Cost</dt>
        <dd class="col-sm-3">${{ (t11.total_cost/100)|round(2) }}</dd>
      </dl>


    </div><!-- /col-->
  </div><!-- /row-->
</div><!-- /container-->






<!-- Flot code - load json into chart div-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.time.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.selection.min.js"></script>
<script language="javascript" type="text/javascript">
$(document).ready(function(){
    function weekendAreas(axes) {

            var markings = [],
                d = new Date(axes.xaxis.min);

            // go to the first Saturday

            d.setUTCDate(d.getUTCDate() - ((d.getUTCDay() + 1) % 7))
            d.setUTCSeconds(0);
            d.setUTCMinutes(0);
            d.setUTCHours(0);

            var i = d.getTime();

            // when we don't set yaxis, the rectangle automatically
            // extends to infinity upwards and downwards

            do {
                markings.push({ xaxis: { from: i, to: i + 2 * 24 * 60 * 60 * 1000 } });
                i += 7 * 24 * 60 * 60 * 1000;
            } while (i < axes.xaxis.max);

            return markings;
        }

    $.getJSON("{{ url_for('energy_data', meter_id=meter_id, start_date=start_date, end_date=end_date)|safe }}", function(json) {
       //success - data loaded, now use plot:
       var plotarea = $("#energy");

       // Create plot object
       var plot = $.plot(
                //plot area
                plotarea,
                //plot data
                [
                    { data: json.consumption,
                      bars: { show: true,
                              fill: true,
                              align: 'right',
                              barWidth: {{ plot_settings.barWidth }}
                            },
                      label: "Consumption (Wh)"
                    },
                    { data: json.power,
                      lines: { show: true,
                               align: 'center',
                               steps: true
                            },
                      label: "Average Power (W)"
                    }
                ],
                // plot settings
                {
                    grid: {hoverable: true,
                           clickable: true,
                           markings: weekendAreas},
                    yaxis: {label: "Events"},
                    xaxis: {mode: "time",
                            minTickSize: [1, "{{ plot_settings.minTickSize }}"]
                            }
                }
       );
    });

    function showTooltip(x, y, contents) {
        $('<div id="tooltip">' + contents + '</div>').css( {
            position: 'absolute',
            display: 'none',
            top: y + 5,
            left: x + 5,
            border: '1px solid #fdd',
            padding: '2px',
            'background-color': '#fee',
            opacity: 0.80
        }).appendTo("body").fadeIn(200);
    }

    var previousPoint = null;
    $("#energy").bind("plothover", function (event, pos, item) {
        $("#x").text(pos.x.toFixed(2));
        $("#y").text(pos.y.toFixed(2));

        if (item) {
            if (previousPoint != item.dataIndex) {
                previousPoint = item.dataIndex;

                $("#tooltip").remove();
                var x = item.datapoint[0].toFixed(2),
                    y = item.datapoint[1].toFixed(2)
                    showTooltip(item.pageX, item.pageY,
                            item.series.label + ": " + y);
            }
        }
        else {
            $("#tooltip").remove();
            previousPoint = null;
        }

    });
});
</script>


{% endblock container%}
