{% extends "layout.html" %}
{% set active_page = active_page|default('usage') -%}
{% block title %}Energy Usage{% endblock %}
{% block container %}
<h1 class="page-header">Energy Usage</h1>


<div class="card">
  <div class="card-block">

    <ul class="nav nav-pills">
    <li class="nav-item">
        <a class="btn btn-secondary nav-link {% if report_period=='day' %}active{% endif %}"
        href="{{ url_for('usage_day', report_date=report_date) }}" role="button">Day</a>
    </li>
    <li class="nav-item">
        <a class="btn btn-secondary nav-link {% if report_period=='month' %}active{% endif %}"
        href="{{ url_for('usage_month', report_date=report_date) }}" role="button">Month</a>
    </li>

    <li class="nav-item float-xs-right">
        <a class="btn btn-secondary {% if not period_nav.next_enabled %}disabled{% endif %}"
            href="{{ url_for('usage_day', report_date=period_nav.next_date) }}" role="button">
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
        </a>
    </li>
    <li class="nav-item float-xs-right">
        <a class="btn btn-secondary {% if not period_nav.prev_enabled %}disabled{% endif %}"
        href="{{ url_for('usage_day', report_date=period_nav.prev_date) }}" role="button">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
        </a>
    </li>

    <li class="nav-item float-xs-right navbar-text">
    <strong>{{ period_desc }}&nbsp;&nbsp;</strong>
    </li>

    </ul><!-- /nav-pills-->

  </div><!-- /card-block-->

  <div class="card-block">
      <div class="chart-container">
        <div id="energy" class="chart-placeholder" style="max-width: 100%; height: 350px;"></div>
      </div>
  </div><!-- /card-block-->

</div><!-- /card-->




  <div class="row">
    <div class="col-sm-4">
    <div class="card card-block">
      <h4>General Supply Tariff</h4>

      <dl class="row">
        <dt class="col-sm-9">Meter Services Charge</dt>
        <dd class="col-sm-3">${{ (t11.meter_services_charge/100)|round(2) }}</dd>

        <dt class="col-sm-9">Supply Charge</dt>
        <dd class="col-sm-3">${{ (t11.supply_charge/100)|round(2) }}</dd>

        <dt class="col-sm-9">Consumption Charge</dt>
        <dd class="col-sm-3">${{ (t11.consumption_charge/100)|round(2) }}</dd>

      </dl>
      <hr />
      <dl class="row">
        <dt class="col-sm-9">Total Cost</dt>
        <dd class="col-sm-3">${{ (t11.total_cost/100)|round(2) }}</dd>
      </dl>
    </div><!-- /card-->
    </div><!-- /col-->

    <div class="col-sm-4">
    <div class="card card-block">
      <h4>Time of Use Tariff</h4>

      <dl class="row">
        <dt class="col-sm-9">Meter Services Charge</dt>
        <dd class="col-sm-3">${{ (t12.meter_services_charge/100)|round(2) }}</dd>

        <dt class="col-sm-9">Supply Charge</dt>
        <dd class="col-sm-3">${{ (t12.supply_charge/100)|round(2) }}</dd>

        <dt class="col-sm-9">Consumption (Peak)</dt>
        <dd class="col-sm-3">${{ (t12.peak_consumption_charge/100)|round(2) }}</dd>

        <dt class="col-sm-9">Consumption (Off-Peak)</dt>
        <dd class="col-sm-3">${{ (t12.offpeak_consumption_charge/100)|round(2) }}</dd>

      </dl>
      <hr />
      <dl class="row">
        <dt class="col-sm-9">Total Cost</dt>
        <dd class="col-sm-3">${{ (t12.total_cost/100)|round(2) }}</dd>
      </dl>
    </div><!-- /card-->
    </div><!-- /col-->

    <div class="col-sm-4">
    <div class="card card-block">
      <h4>Demand Tariff</h4>

      <dl class="row">
        <dt class="col-sm-9">Meter Services Charge</dt>
        <dd class="col-sm-3">${{ (t14.meter_services_charge/100)|round(2) }}</dd>

        <dt class="col-sm-9">Supply Charge</dt>
        <dd class="col-sm-3">${{ (t14.supply_charge/100)|round(2) }}</dd>

        <dt class="col-sm-9">Consumption Charge</dt>
        <dd class="col-sm-3">${{ (t14.consumption_charge/100)|round(2) }}</dd>

        <dt class="col-sm-9">Demand Charge</dt>
        <dd class="col-sm-3">${{ (t14.demand_charge/100)|round(2) }}</dd>

      </dl>
      <hr />
      <dl class="row">
        <dt class="col-sm-9">Total Cost</dt>
        <dd class="col-sm-3">${{ (t14.total_cost/100)|round(2) }}</dd>
      </dl>
    </div><!-- /card-->
    </div><!-- /col-->

  </div><!-- /row-->

 <div class="row">
    <div class="col-sm-4">
    <div class="card card-block">
    <h4>Consumption Stats</h4>
    <dl class="row">
        <dt class="col-sm-6">Peak</dt>
        <dd class="col-sm-6">{{ t12.peak_consumption_kWh|round(2) }} kWh</dd>

        <dt class="col-sm-6">Off-Peak</dt>
        <dd class="col-sm-6">{{ t12.offpeak_consumption_kWh|round(2) }} kWh</dd>
    </dl>

    </div><!-- /card-->
    </div><!-- /col-->

    <div class="col-sm-4">
    <div class="card card-block">
    <h4>Demand Stats</h4>
    <dl class="row">
    <dt class="col-sm-6">{% if not t14.peak_season %}Off-{% endif %}Peak Average</dt>
    <dd class="col-sm-6">{{ (t14.peak_demand_kW)|round(2) }} kW</dd>
      {% for day in t14.top_four_days %}
        <dt class="col-sm-6"><em>#{{loop.index}}: {{day}}<em></dt>
        <dd class="col-sm-6">{{ (t14.peak_days[day][0]/1000)|round(2) }} kW</dd>
      {% endfor %}

    </dl>
    </div><!-- /card-->
    </div><!-- /col-->

</div><!-- /row-->




<!-- Flot code - load json into chart div-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.time.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.selection.min.js"></script>
<script language="javascript" type="text/javascript">
$(document).ready(function(){
    function weekendAreas(axes) {

            var markings = [],
                d = new Date(axes.xaxis.min);

            // go to the first Saturday

            d.setUTCDate(d.getUTCDate() - ((d.getUTCDay() + 1) % 7))
            d.setUTCSeconds(0);
            d.setUTCMinutes(0);
            d.setUTCHours(0);

            var i = d.getTime();

            // when we don't set yaxis, the rectangle automatically
            // extends to infinity upwards and downwards

            do {
                markings.push({ xaxis: { from: i, to: i + 2 * 24 * 60 * 60 * 1000 }, color: "#F3F3F3" });
                i += 7 * 24 * 60 * 60 * 1000;
            } while (i < axes.xaxis.max);

            return markings;
        }

    function peakTime(axes) {

            var markings = [],
                d = new Date(axes.xaxis.min);

            // go to the start of peak period
            d.setUTCSeconds(0);
            d.setUTCMinutes(0);
            d.setUTCHours(15);

            var i = d.getTime();

            // when we don't set yaxis, the rectangle automatically
            // extends to infinity upwards and downwards

            do {
                markings.push({ xaxis: { from: i, to: i + 6.5 * 60 * 60 * 1000 },
                                color: {% if t14.peak_season == True %}"#DAA8AA"{% else %}"#FFFFFF"{% endif %} }
                            );
                i += 7 * 24 * 60 * 60 * 1000;
            } while (i < axes.xaxis.max);

            return markings;
        }



    $.getJSON("{{ url_for('energy_data', meter_id=meter_id, start_date=start_date, end_date=end_date)|safe }}", function(json) {
       //success - data loaded, now use plot:
       var plotarea = $("#energy");

       // Create plot object
       var plot = $.plot(
                //plot area
                plotarea,
                //plot data
                [
                    { data: json.consumption,
                      bars: { show: true,
                              fill: true,
                              align: 'right',
                              barWidth: {{ plot_settings.barWidth }}
                            },
                      label: "Consumption (Wh)"
                    },
                    { data: json.power,
                      lines: { show: true,
                               align: 'center',
                               steps: true
                            },
                      color: "#444444",
                      label: "Average Power (W)",
                      yaxis: 2
                    }
                ],
                // plot settings
                {
                    grid: {hoverable: true,
                           clickable: true,
                           markings: {% if report_period=='day' %}peakTime{% else %}weekendAreas{% endif %}},
                    yaxis: {label: "Events"},
                    xaxis: {mode: "time",
                            minTickSize: [1, "{{ plot_settings.minTickSize }}"]
                            }
                }
       );
    });

    function showTooltip(x, y, contents) {
        $('<div id="tooltip">' + contents + '</div>').css( {
            position: 'absolute',
            display: 'none',
            top: y + 5,
            left: x + 5,
            border: '1px solid #fdd',
            padding: '2px',
            'background-color': '#fee',
            opacity: 0.80
        }).appendTo("body").fadeIn(200);
    }

    var previousPoint = null;
    $("#energy").bind("plothover", function (event, pos, item) {
        $("#x").text(pos.x.toFixed(2));
        $("#y").text(pos.y.toFixed(2));

        if (item) {
            if (previousPoint != item.dataIndex) {
                previousPoint = item.dataIndex;

                $("#tooltip").remove();
                var x = item.datapoint[0].toFixed(2),
                    y = item.datapoint[1].toFixed(2)
                    showTooltip(item.pageX, item.pageY,
                            item.series.label + ": " + y);
            }
        }
        else {
            $("#tooltip").remove();
            previousPoint = null;
        }

    });
});
</script>


{% endblock container%}
