{% extends "layout.html" %}
{% set active_page = active_page|default('usage') -%}
{% block title %}Energy Usage{% endblock %}
{% block container %}
<h1 class="page-header">Usage</h1>
<p>Charts and stuff.</p>
<div class="chart-container">
    <div id="energy" class="chart-placeholder" style="max-width: none; height: 400px;"></div>
</div>

<!-- Flot code - load json into chart div-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.time.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.selection.min.js"></script>
<script language="javascript" type="text/javascript">
$(document).ready(function(){
    function weekendAreas(axes) {

            var markings = [],
                d = new Date(axes.xaxis.min);

            // go to the first Saturday

            d.setUTCDate(d.getUTCDate() - ((d.getUTCDay() + 1) % 7))
            d.setUTCSeconds(0);
            d.setUTCMinutes(0);
            d.setUTCHours(0);

            var i = d.getTime();

            // when we don't set yaxis, the rectangle automatically
            // extends to infinity upwards and downwards

            do {
                markings.push({ xaxis: { from: i, to: i + 2 * 24 * 60 * 60 * 1000 } });
                i += 7 * 24 * 60 * 60 * 1000;
            } while (i < axes.xaxis.max);

            return markings;
        }

    $.getJSON("{{ url_for('energy_data', meterId=3044076134) }}", function(json) {
       //success - data loaded, now use plot:
       var plotarea = $("#energy");
       $.plot(
       //plot area
       plotarea,
       //plot data
         [
            { data: json.consumption, 
              lines: { show: true, fill: true },
              label: "Consumption"
            }
        ],
       // plot settings
       {
                                grid: {hoverable: true,
                                       clickable: true,
                                       markings: weekendAreas},
                                yaxis: {label: "Events"},
                                xaxis: {mode: "time",
                                        minTickSize: [1, "day"]
                                        }
                                })

    });

    function showTooltip(x, y, contents) {
        $('<div id="tooltip">' + contents + '</div>').css( {
            position: 'absolute',
            display: 'none',
            top: y + 5,
            left: x + 5,
            border: '1px solid #fdd',
            padding: '2px',
            'background-color': '#fee',
            opacity: 0.80
        }).appendTo("body").fadeIn(200);
    }

    var previousPoint = null;
    $("#energy").bind("plothover", function (event, pos, item) {
        $("#x").text(pos.x.toFixed(2));
        $("#y").text(pos.y.toFixed(2));

        if (item) {
            if (previousPoint != item.dataIndex) {
                previousPoint = item.dataIndex;

                $("#tooltip").remove();
                var x = item.datapoint[0].toFixed(2),
                    y = item.datapoint[1].toFixed(2)
                    showTooltip(item.pageX, item.pageY,
                            item.series.label + ": " + y + "Wh");
            }
        }
        else {
            $("#tooltip").remove();
            previousPoint = null;
        }

    });
});
</script>


{% endblock container%}
